<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="" class="float-sm-start">
            <div class="float-sm-start">
                <h4>
                    Recipe Name
                </h4>
                <p>decription</p>
            </div>
            <span class="float-sm-end">
                <img src="..." alt="">
            </span>
        </a>
    </div>
</div>
<app-recipes-item></app-recipes-item>